body {
    font-family: arial;
    margin: 0px;
    padding: 0px;
    background-color: black;
    color: white;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

footer {
    font-family: arial;
    font-size: 12px;
    padding-left: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 10;
}

/* Links */
a {
    text-decoration: none;
}
a:link {
    color: rgb( 233, 73, 154 );
}
a:visited {
    color: rgb( 110, 30, 71 );
}
a:hover {
    color: rgb( 252, 207, 230 );
}

/* the canvas *must not* have any border or padding, or mouse coords will be wrong */
#canvas {
    padding: 0px;
    margin: 0px;
    display: block;
    border: 0px none;
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}